*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.content{
  height: 150vh;

}
.navbar{
  background-color: blue ;
}
.register-page{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/* transaction page */
.filters{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow:  0 0 5px grey;
}
.bold-text{
  font-weight: bold;
}

.icon-container{
  border: 1px solid rgba(0, 0, 0, 0.677) ;
  border-radius: 5px;
  padding: 10px 15px;
}
.anticon svg{
  font-size: 20px;
  /* cursor:pointer; */
}
.active-icon{
  color:black;
}
.inactive-icon{
  color:gray;
}